.container {
  padding: 20px;
  &__img {
    width: 100%;
    max-height: 400px;
  }
  &__content {
    display: flex;
    &__left {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      .right__title {
        font-size: 28px;
      }
      .right__desc {
        font-size: 20px;
        word-wrap: break-word;
      }
    }
    &__name {
      font-size: 22px;
    }
  }
}
