.container {
  &__confirm {
    width: 400px;
    height: 63px;
    text-align: center;
    background-color: #fff;
    margin: 200px auto;
    border-radius: 8px;

    font-size: 22px;
    color: rgba(249, 129, 102, 1);
    line-height: 63px;
    border: 1px solid rgba(249, 129, 102, 1);
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 20px;
    &__item {
      line-height: 80px;
      border-bottom: 1px solid #ccc;
    }
    &__empty {
      text-align: center;
      font-size: 40px;
    }
  }
}
