.container {
  padding-bottom: 132px;
  .banner {
    padding: 0 20px;
    &__item {
      border-radius: 20px;
      &__img {
        width: 100%;
      }
    }
  }
}
.search {
  &__local {
    display: flex;
    align-items: center;
    &__image {
      width: 29px;
      max-height: 35px;
    }
    &__area {
      font-size: 21px;
      font-weight: 400;
      color: rgba(86, 86, 86, 1);
    }
  }
}
