@searchHeight: 88px;

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: @searchHeight;
  // 188px 是小程序按钮的宽度
  padding-right: calc(188px + 24px);
  padding-left: 24px;
  box-sizing: border-box;
  &__local {
    display: flex;
    align-items: center;
    &__image {
      width: 29px;
      max-height: 35px;
    }
    &__area {
      font-size: 21px;
      font-weight: 400;
      color: rgba(86, 86, 86, 1);
    }
  }
  &__btn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-left: 8px;
    background: #fff;
    box-shadow: 0px 3px 9px 0px rgba(194, 194, 194, 0.51);
    border-radius: 35px;
  }
  &__icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }
  &__desc {
    font-size: 29px;
    color: rgba(188, 188, 188, 1);
  }
}
