.container {
  &__user {
    padding: 70px 90px 65px 90px;
    background-color: purple;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .info__aventor {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
      .info__name {
        font-size: 29px;
        color: rgba(251, 252, 253, 1);
        margin-bottom: 10px;
      }
      .info__score {
        font-size: 17px;
        color: rgba(251, 252, 253, 1);
        margin-bottom: 10px;
      }
      .info__labels {
        display: flex;
        margin-bottom: 10px;
        &__item {
          width: 97px;
          height: 28px;
          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 13px;
          font-size: 17px;
          color: rgba(251, 252, 253, 1);
          line-height: 28px;
          text-align: center;
          margin-right: 14px;
        }
      }
      .info__intro {
        font-size: 17px;
        color: rgba(251, 252, 253, 1);
      }
    }
  }
  &__trends {
    &__title {
      font-size: 21px;
      color: rgba(0, 0, 0, 1);
      background-color: #f1f1f1;
      padding: 16px 20px;
    }
    &__list {
      padding: 0 40px;
      .list__item {
        margin-top: 20px;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    background-color: #fff;
    &__btn {
      width: 208px;
      border: 1px solid rgba(247, 126, 3, 1);
      border-radius: 7px;
      padding: 10px 0;
      font-size: 21px;
      color: rgba(247, 126, 3, 1);
      text-align: center;
    }
  }
}
