.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    &__icon {
      display: inline-flex;
      align-items: center;
      width: 22px;
      height: 20px;
    }
    &__text {
      font-size: 16px;
      color: rgba(56, 56, 58, 1);
      margin-left: 6px;
    }
  }
  .text__active {
    color: rgba(247, 126, 3, 1);
  }
}
.comments {
  padding: 20px;
  background-color: #fff;
  &__item {
    display: flex;
    flex-direction: column;
    &__content {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #000000;
      margin-bottom: 20px;
      .content__img {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        margin-right: 10px;
      }
      .content__title {
        display: flex;
        flex-direction: column;
        flex: 1;
        &__name {
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: 24px;
          color: rgba(247, 126, 3, 1);
          .name__date {
            font-size: 20px;
            color: #ccc;
          }
        }
        &__text {
          margin-top: 15px;
          font-size: 24px;
          color: #000000;
        }
      }
    }
    &__content--sub {
      .content__title__content {
        display: flex;
        margin-top: 15px;
      }
      .content__title__replyName {
        font-size: 24px;
        color: rgba(247, 126, 3, 1);
      }
      .content__title__re {
        font-size: 24px;
        color: #000000;
      }
      .content__text {
        font-size: 24px;
        color: #000000;
      }
    }
  }
}
