.container {
  &__item {
    padding-bottom: 20px;
    margin: 20px 20px 0 20px;
    border-bottom: 1px solid #E2E2E2;
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .title__line {
        width: 6px;
        height: 24px;
        background: rgba(247, 126, 3, 1);
        margin-right: 8px;
      }
      .title__text {
        font-size: 29px;
        color: rgba(86, 86, 86, 1);
      }
    }
    &__sketch {
      font-size: 21px;
      color: rgba(153, 153, 153, 1);
      line-height: 27px;
    }
  }
}
